
@{
    ViewBag.Title = "Index"; ;
}

<br /><br />

<div class="row">
    <div class="row"></div>

    <div ng-show="divpersonnallist">
        <div class="row">
            <div class="box">
                <table class="table-bordered  table-condensed table-responsive">
                    <thead>
                        <tr class="danger">
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>SSN</th>
                            <th>DOB</th>
                            <th>Place of Birth</th>
                            <th>Login ID</th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="personnal in personnalList">
                            <td> {{personnal.FIRSTNAME}} </td>
                            <td>{{personnal.LASTNAME}}</td>
                            <td>{{personnal.SSN}}</td>
                            <td>{{personnal.DATEOFBIRTH.slice(6, -2) | date: 'yyyy-MM-dd' }}</td>
                            <td>{{personnal.PLACEOFBIRTH}}</td>
                            <td>{{personnal.LOGINID}}</td>
                            <td>
                                <input type="button" class="btn btn-warning" value="Update" ng-click="UpdateData(personnal)" />
                                <input type="button" class="btn btn-warning" value="Detail" ng-click="Detail(personnal)" />

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div ng-show="divEmpty">
    <p align="center">No Records Found! &nbsp; <a href="#" ng-click="ShowInsertForms()" class="btn btn-default btn-danger">Click To Create</a></p>
</div>


<div ng-show="InsertForm">
    <form name="form" ng-submit="InsertData()">
        <div class="panel panel-default box">
            <div class=" box panel-body form-horizontal insert-form">
                <div class="row">
                    <p id="labelName" style="text-align:center">Insert Personnal Information</p>
                    <br />
                </div>
                <div class="form-group">
                    <div class="control-group" ng-class="{true: 'error'}[submitted]">
                        <label class="col-sm-3 control-label" for="FirstName">First Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="FirstName" placeholder="First Name" ng-model="FIRSTNAME" required />
                            <span class="help-inline" ng-show="submitted && form.FirstName.$error.required">Required</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">


                    <label for="description" class="col-sm-3 control-label">Last Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="LastName" placeholder="First Name" ng-model="LASTNAME" required />
                        <span class="help-inline" ng-show="submitted && form.LastName.$error.required">Required</span>

                        @*<input type="text" class="form-control" placeholder="Last Name" ng-model="LASTNAME" required" ng-keyup="HideMessage()" />
                            <p ng-show="builderLastName" style="color:red">{{messageL}}</p>*@

                    </div>
                </div>
                <div class="form-group">
                    <label for="amount" class="col-sm-3 control-label"> Place of Birth</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder=Place of Birth" ng-model="PLACEOFBIRTH" ng-required="required" />


                    </div>
                    <div class="form-group">
                        <label for="amount" class="col-sm-3 control-label">Gender</label>
                        <div class="col-sm-9">
                            <div class="radio">
                                <input type="radio" ng-model="Gender" value="MALE" ng-required="!Gender">Male
                            </div>
                            <div class="radio">
                                <input type="radio" ng-model="Gender" value="FEMALE"ng-required="!Gender">Female

                            </div>
                        </div>
                    </div>

                    @Html.Hidden("ID")
                    <div class="form-group">
                        <div class="col-sm-12 text-right">
                            <input type="button" id="btnCancel" class="btn btn-default preview-add-button" value="Back" ng-click="Back()" />

                            <button type="submit" class="btn btn-primary btn-large" value="Submit" id="btnSave" ng-click="submitted=true">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
<div ng-show="divDetail">
    <div class="detail">
        <header class="page-header">
            <h1 class="page-title">Details of {{Detail_FirstName}} {{Detail_LastName}}</h1>
        </header>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                <div class="panel panel-default">
                    <div class="panel-heading resume-heading">
                        <div class="row">
                            <div class="col-lg-12">
                                <p class="col-lg-2">FirstName</p>
                                <span class="col-lg-10 list-group-item">{{Detail_FirstName}} {{Detail_LastName}}</span>
                                First Name: <p class="list-group-item">{{Detail_FirstName}}</p>
                                Last Name :<p class="list-group-item"> {{Detail_MiddleName}}</p>
                                <p class="list-group-item">{{Detail_DODID}} </p>
                                <p class="list-group-item">{{Detail_LogonName}} </p>
                                <p class="list-group-item">{{Detail_Gender}} </p>
                                <p class="list-group-item">{{Detail_PlaceOfBirth}} </p>
                                <p class="list-group-item">{{Detail_DateOfBirth}} </p>

                                <input type="button" class="btn btn-info" value="Back" ng-click="Back()" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>










