@model DataAccessLayer.ViewModel.PersonnalViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/PrimaryUser/Views/Shared/_LayoutPrimaryUser.cshtml";
}
<br /><br /><br />
<div class="row">
    <div class="  col-sm-12">
        <h4>Create Detail</h4>
        @using (Html.BeginForm())
        {
          
            <div class="panel panel-default box">
                <div class=" box panel-body form-horizontal payment-form">
                    <div class="form-group">
                        <label for="concept" class="col-sm-3 control-label">First Name</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.FIRSTNAME, new { @class = "form-control" })

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-sm-3 control-label">Last Name</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.LASTNAME, new { @class = "form-control" })

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="amount" class="col-sm-3 control-label">Amount</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" id="amount" name="amount">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="amount" class="col-sm-3 control-label">Gender</label>
                        <div class="col-sm-9">
                            <div class="radio">
                                <label><input type="radio" name="optradio">Male</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="optradio">Female</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="status" class="col-sm-3 control-label">Status</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="status" name="status">
                                <option>Paid</option>
                                <option>Unpaid</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="date" class="col-sm-3 control-label">Date</label>
                        <div class="col-sm-9">
                            <input type="date" class="form-control" id="date" name="date">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 text-right">
                            <button type="button" class="btn btn-default preview-add-button">
                                <span class="glyphicon glyphicon-plus"></span> Add
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div> <!-- / panel preview -->
</div>
