@model DataAccessLayer.ViewModel.PersonnalListModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/PrimaryUser/Views/Shared/_LayoutPrimaryUser.cshtml";
    
}
<br /><br />

<div class="row">

    @using (Html.BeginForm(new { @class = "form-horizontal" }))
            {
        <div class="row">
           <div class="col-md-3"></div>
            <div class="well well-lg well well-sm col-md-4">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control col-lg-6 " placeholder="Name, Employee ID, SSN" name="searchText" id="searchText" autocomplete="off" tabindex="1" autofocus>
                   <div class="input-group-btn col-md-3">
                        <input class="btn btn-default" type="submit" value="Search" id="btnSearch" name="btnSearch" tabindex="2" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row"></div>



    }
    <div class="row">
        <div id="SearchResult">
            @*@Html.Action("Search",Model)*@
        </div>
    </div>


</div>
<script src="~/Scripts/jQuery-2.1.4.min.js"></script>
<script>
    document.getElementById("searchText")
        .addEventListener("keyup", function (event) {
            event.preventDefault();
            if (event.keyCode === 13) {
                document.getElementById("btnSearch").click();
            }
        });
</script>
<script>
    $('#searchText').keyup(function () {
        var x = document.getElementById("searchText");
        var searchText = x.value;
        $("#SearchResult").load("/PrimaryUser/Search/Search",
            { searchText: searchText });
    });
</script>