
<footer class="footer navbar-inverse">
    <div class="col-md-4">
        <fieldset>
            <legend> Question </legend>
            <p>.........</p>
            <p>.........</p>
        </fieldset>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <fieldset>
            <legend> about app </legend>
            <p> ..........</p>
        </fieldset>
    </div>
</footer>
